<footer>
  <p>Built by Sebastian Fiele (<a href="https://github.com/rawsta" rel="me">on github</a>) with <a href="https://www.11ty.dev/">Eleventy</a> and hosted by <a href="https://netlify.com/">Netlify</a>.</p>
</footer>
