:root {
  --gap: 1.5rem;
  --page-padding: var(--gap);

  --sidebar: 15ch;
  --notsidebar: 75%;

  --maxcontent: 80ch;

  --theme-color: #ff8300;
  --theme-color-contrast: #fff;

  --transition-time: 333ms;
  --transition-mode: ease;
  --transition-all: all var(--transition-time) var(--transition-mode);
}
