:root {
  --gap: 1.5rem;
  --page-padding: var(--gap);

  --sidebar: 15ch;
  --notsidebar: 75%;

  --maxcontent: 80ch;

  --theme-color: #ff8300;
  --theme-color-contrast: #fff;
  --theme-color-dark: #830000;

  --line-height-main: 1.6;
  --line-height-head-0: 1.125;
  --line-height-head-1: 1.33;

  --transition-time: 333ms;
  --transition-mode: ease;
  --transition-all: all var(--transition-time) var(--transition-mode);
}
